@using GovITHub.Auth.Common.Models
@inject SignInManager<ApplicationUser> SignInManager

@{ 
    var loginProviders = SignInManager.GetExternalAuthenticationSchemes().ToList();
    var colNo = loginProviders.Count > 0 ? (12 / loginProviders.Count).ToString() : "0";
}

<div class="row external-providers">
    <div class="col-md-6 col-xs-12 col-sm-12 col-md-offset-3">
        <section>
            @{
                
                if (loginProviders.Count == 0)
                {
                    <div>
                        <p>
                            Nu sunt configurate servicii de autentificare externe.
                        </p>
                    </div>
                }
                else
                {
                    <p class="text-center">@ViewData["LoginExtra"]</p>
                    <form asp-controller="Account" asp-action="ExternalLogin" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="form-horizontal">
                        <div class="row providers">
                            @foreach (var provider in loginProviders)
                            {
                                <div class="col-md-@colNo col-xs-12 col-sm-12">
                                    <button type="submit" class="btn btn-default @provider.AuthenticationScheme" name="provider" value="@provider.AuthenticationScheme" title="Log in using your @provider.DisplayName account"><span class="text-img"></span><span class="text">@provider.AuthenticationScheme</span></button>
                                </div>
                            }
                            @*<div class="col-md-4 col-xs-12 col-sm-12">
                                    <button type="submit" class="btn btn-default LinkedIn" name="provider" value="Linkedin" title="Log in using your LinkedIn account"><span class="text-img"></span><span class="text">LinkedIn</span></button>
                                </div>*@
                        </div>
                    </form>
                }
            }
        </section>
    </div>
</div>