@model ManageLoginsViewModel
@inject IViewLocalizer Localizer
@using Microsoft.AspNetCore.Http.Authentication
@{
    ViewData["Title"] = Localizer["Manage your external logins"];
}

<a asp-controller="Manage" asp-action="Index" class="btn">&lt;- @Localizer["Profil"]</a>

<div class="row login-form">
    <div class="col-md-12">
        <div class="col-md-6 col-md-offset-3">

            <h2>@ViewData["Title"].</h2>

            <p class="text-success">@ViewData["StatusMessage"]</p>
            @if (Model.CurrentLogins.Count > 0)
            {
                <h4>@Localizer["Registered Logins"]</h4>
                <table class="table">
                    <tbody>
                        @for (var index = 0; index < Model.CurrentLogins.Count; index++)
                        {
                            <tr>
                                <td>@Model.CurrentLogins[index].LoginProvider</td>
                                <td>
                                    @if ((bool)ViewData["ShowRemoveButton"])
                                    {
                                        <form asp-controller="Manage" asp-action="RemoveLogin" method="post" class="form-horizontal">
                                            <div>
                                                <input asp-for="@Model.CurrentLogins[index].LoginProvider" name="LoginProvider" type="hidden" />
                                                <input asp-for="@Model.CurrentLogins[index].ProviderKey" name="ProviderKey" type="hidden" />
                                                <input type="submit" class="btn btn-danger"  value="@Localizer["Remove"]" title="Remove this @Model.CurrentLogins[index].LoginProvider login from your account" />
                                            </div>
                                        </form>
                                    }
                                    else
                                    {
                                        @: &nbsp;
                        }
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            }
            @if (Model.OtherLogins.Count > 0)
            {
                <h4>@Localizer["Add another service to log in"].</h4>
                <hr />
                <form asp-controller="Manage" asp-action="LinkLogin" method="post" class="form-horizontal">
                    <div id="socialLoginList">
                        <p>
                            @foreach (var provider in Model.OtherLogins)
                            {
                                <button type="submit" class="btn btn-success" name="provider" value="@provider.AuthenticationScheme" title="Log in using your @provider.DisplayName account">@provider.AuthenticationScheme</button>
                            }
                        </p>
                    </div>
                </form>
            }
        </div>
    </div>
</div>
